transformers>=4.56.2
pre-commit>=4.2.0
accelerate>=1.10.1

# sglang>=0.5.3rc1  # using with sglang to infer
# vllm>=0.10.2   # using with vllm to infer
# not recommended to install sglang and vllm in the same environment